<router-outlet></router-outlet>
<mat-tab-group
  mat-stretch-tabs
  mat-align-tabs="center"
  color="accent"
  backgroundColor="primary"
  style="width: 100%"
>
  <mat-tab label="Creacion de Diario de Sesion">
    <div class="contenido-buttons" style="width: 100%; text-align: center; padding-top: 10px; padding-bottom: 10px;" >
      <button (click)="LoadMarcas()"  class="btn btn-primary">Cargar marcas</button>
      <button (click)="saveDiario()" class="btn btn-primary">Terminar Edición de diario</button>
      <button (click)="saveMarca()"  class="btn btn-primary">Guardar marca</button>
    </div>
    <h1
      style="
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 25px;
      "
    >
      <span style="border: solid 1px; padding: 10px; border-radius: 20px"
        >Diario de Sesion del Senado - {{legislatura}}</span
      >
    </h1>

    <div class="contenido-items">
      <div style="border: solid 1px; margin-left: 10px; border-radius: 10px">
        <h1 style="width: 100%; text-align: center; padding-top: 20px">
          Marcas
        </h1>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <span (click)="setMarca(node.name)">{{ node.name }}</span>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodePadding
          >
            <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'Toggle' + node.name"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                }}
              </mat-icon>
            </button>
            <span (click)="setMarca(node.name)">{{ node.name }}</span>
          </mat-tree-node>
        </mat-tree>
      </div>

      <tx-document-editor
        #astxt
        id="txtComponent"
        width="98%"
        height="1500px"
        webSocketURL="wss://backend.textcontrol.com?access-token=RcT7UDON2gMgHupFIiJ2"
        statusBarColor="#f0f0f0"
        backColor="#f0f0f0"
        style="border: solid 0.4px; margin-right: 10px; border-radius: 10px"
      >
      </tx-document-editor>
    </div>
  </mat-tab>
  <mat-tab label="Edición / Revisíon">
    <h1
      style="
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 25px;
      "
    >
      <span style="border: solid 1px; padding: 10px; border-radius: 20px"
        >Lista de diarios Registrados</span
      >
    </h1>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource1" style="width: 100%">
        <!-- Position Column -->
                <!-- Name Column -->
        <ng-container matColumnDef="IdDiario">
                  <th mat-header-cell *matHeaderCellDef>Edición</th>
                  <td mat-cell *matCellDef="let element"><mat-icon (click)="editarDiario()" > edit</mat-icon></td>
        </ng-container>

        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion del Diario</th>
          <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
        </ng-container>


        <!-- Weight Column -->


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Registro">
    <h1
      style="
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 25px;
      "
    >
      <span style="border: solid 1px; padding: 10px; border-radius: 20px"
        >Lista de Trascricion de Diarios</span
      >
    </h1>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource1" style="width: 100%">
        <!-- Position Column -->
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion De Diario</th>
          <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="IdDiario">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element"><mat-icon> check</mat-icon></td>
        </ng-container>

        <!-- Weight Column -->


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
